@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

html {
  scroll-behavior: smooth;
}
.landing {
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lora", serif;
  text-align: center;
  background-position: center center;
  padding-top: 5%;
  color: white;
  height: 650px;
  /* margin-top: 30px; */
}
.landing h1 {
  font-size: 50px;
  padding: 3px;
  margin: 5px;
}
.landing p {
  font-size: 20px;
  padding: 3px;
}
#log {
  height: 120px;
  width: 120px;
  /* margin-top: 12px;
    margin-bottom: 12px; */
}
#mouse_click {
  margin-top: 10%;
}
#mouse_click {
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%,
  25%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-45px);
  }
  60% {
    transform: translateY(-54px);
  }
}
#about-us {
  text-align: center;
  align-items: center;
}
#about-us p {
  font-size: 20px;
}
#about {
  font-family: "Lora", serif;
  font-size: 55px;
}
.services {
  background: rgba(0, 0, 0, 0.6) url("../assets/backgrounds/s_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  background-blend-mode: darken;
}
#overlay {
  text-align: center;
  padding-top: 3%;
  color: white;
}
#overlay h1 {
  font-size: 50px;
  font-family: "Lora", serif;
}
#overlay p {
  font-size: 20px;
}
.heading {
  text-align: center;
  font-family: "Abril Fatface", cursive;
  font-size: 55px;
  /* padding-top: 3%; */
}
.title {
  font-family: "Courgette", cursive;
}
#title {
  font-size: 20px;
  text-align: center;
}
.what-we-do {
  text-align: center;
  padding-top: 40px;
}
#DESIGNS,
#product,
#dev {
  display: none;
  /* font-family: Helvetica,Arial,sans-serif; */
  font-size: 16px;
}
.portfolio {
  font-family: "Courgette", cursive;
  text-align: center;
  display: initial;
}
.portfolio h2 {
  font-size: 55px;
}
.tile {
  font-size: 55px;
}
/* #port{
  position: fixed;
} */
.col-md-3 p {
  padding-top: 3%;
  font-size: 25px;
}
.col-md-3 img {
  max-height: 100%;
  max-width: 100%;
  padding: 8px;
}
#overlay0,
#overlay1,
#overlay2,
#overlay3,
#overlay4,
#overlay5,
#overlay6,
#overlay7,
#overlay8 {
  top: -50%;
  left: -0.2%;
  color: black;
  position: relative;
  font-size: 30px;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: rgba(253, 249, 249, 0.726);
  background-blend-mode: lighten;
}
.contact {
  background-image: url("../assets/backgrounds/c_image.jpg");
  background-attachment: fixed;
  text-align: center;
  background-size: cover;
  margin-bottom: 50px;
  padding-top: 10px;
  width: 100%;
  max-width: 100%;
  margin-top: 8%;
}
.contact h2 {
  font-size: 55px;
  font-family: "Courgette", cursive;
  color: white;
}
#form {
  width: 700px;
  max-width: 100%;
  left: 50%;
  /* transform: translate(-60%); */
  /* position: relative; */
  text-align: center;
}
#comment {
  color: white;
  font-size: 20px;
 font-family: 'Dancing Script', cursive;
  background: transparent;
}

input[type="email"] {
  color: white;
  font-size: 20px;
  font-family: serif;
  background-color: transparent;
}

input[type="text"] {
  color: white;
  font-size: 20px;
  font-family: serif;
  background: transparent;
}
#social{
  text-align: center;
}
#social img{
  padding: 5px;
}
.con{
  text-align: center;
  font-family: "Courgette", cursive;
}