@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

html {
  scroll-behavior: smooth;
}
.landing {
  background-image: url("../assets/backgrounds/h_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Lora", serif;
  text-align: center;
  background-position: center center;
  padding-top: 5%;
  color: white;
  height: 650px;
  /* margin-top: 30px; */
}
.landing h1{
    font-size: 50px;
    padding: 3px;
    margin: 5px;
}
.landing p{
    font-size: 20px;
    padding: 3px;
}
#log{
    height: 120px;
    width: 120px;
    /* margin-top: 12px;
    margin-bottom: 12px; */
}
#mouse_click{
    margin-top: 10%;
}
#mouse_click{
  animation: bounce 2s infinite;
}
@keyframes bounce{
  0%,25%,50%,80%, 100%{
    transform: translateY(0);
  }
  40%{
    transform: translateY(-45px);
  }
  60%{
    transform: translateY(-54px);
  }
}
#about-us{
  text-align: center;
  align-items: center;
}
#about-us p{
  font-size: 20px;
}
#about{
  font-family: "Lora", serif;
  font-size: 55px;
}